
1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

In [1]:
a = lambda a,b :a + b

In [2]:
a(1,2)

3

In [3]:
a = lambda n : n*n

In [4]:
a(5)

25

In [6]:
a = lambda a,b:(a+b)**2

In [7]:
a(3,4)

49

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

In [18]:
def fun(n):
    if n % 2 == 0:
        return 'even'

In [23]:
list1 = [2,4,5,7,8,10]
list(filter(fun,list1))

[2, 4, 8, 10]

In [24]:
def num(n):
    if n > 10:
        return 'numbers'

In [26]:
list1 = [10,14,12,15,18,20,1,4,5,6,78,20,3]
list(filter(num,list1))

[14, 12, 15, 18, 20, 78, 20]

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

In [34]:
list1 = ['1','5','7','6','23','4','47','52']

c = list(map(int,list1))

In [35]:
c

[1, 5, 7, 6, 23, 4, 47, 52]

In [37]:
list1 = ['1','5','7','6','23','4','47','52']

list(map(lambda n : n**2,c))

[1, 25, 49, 36, 529, 16, 2209, 2704]

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

In [42]:
list1 = [{'name' : 'saikiran','age' : 23,'course' : 'data science','city' : 'hyderabad'},
    {'name' : 'sanjay','age' : 30,'course' : 'data science','city' : 'hyderabad'},
    {'name' : 'ramesh','age' : 35,'course' : 'data science','city' : 'hyderabad'},
    {'name' : 'ganesh','age' : 28,'course' : 'data science','city' : 'hyderabad'}]

In [48]:
def fun(n):
    if n.get('age') > 25:
        return n.get('name')

In [49]:
list(filter(fun,list1))

[{'name': 'sanjay', 'age': 30, 'course': 'data science', 'city': 'hyderabad'},
 {'name': 'ramesh', 'age': 35, 'course': 'data science', 'city': 'hyderabad'},
 {'name': 'ganesh', 'age': 28, 'course': 'data science', 'city': 'hyderabad'}]

In [50]:
a = list(map(fun,list1))

In [51]:
a

[None, 'sanjay', 'ramesh', 'ganesh']

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

In [55]:
n  = int(input('Enter the numbers:: '))

list1 = [int(input('Enter the number:: ')) for i in range(1,n)]

c = list(filter(lambda a : a%3!=0,list1))

Enter the numbers:: 5
Enter the number:: 4
Enter the number:: 2
Enter the number:: 3
Enter the number:: 6

In [56]:
c

[4, 2]

In [57]:
a = list(map(lambda a : a**2,c))

In [58]:
a

[16, 4]