

1. **Print Numbers from 1 to N:**
   Write a Python program that uses a for loop to print all numbers from `1 to N` and `substract 5 `from each number.where N is a `positive integer` entered by the user.

2. **Calculate the Sum of Numbers from 1 to N:**
   Write a Python program that calculates and prints the `sum` of all numbers from `1 to N`, where N is a `positive integer` entered by the user, using a for loop.

3. **Print Even Numbers:**
   Write a Python program that prints all `even numbers` from `50 to 100` using a `for` loop.

4. **Reverse a String:**
   Write a Python program that takes a string as input and uses a `for loop` to print the characters of the string in `reverse order`.

5. **Count Vowels in a String:**
    `name = "innomatics research labs"`
   Write a Python program uses a for loop to count the number of vowels (a, e, i, o, u) in the string. Ignore case sensitivity.

6. **Generate a Multiplication Table:**
   Write a Python program that generates and prints the multiplication table for  6.

1. **Print Numbers from 1 to N:**
   Write a Python program that uses a for loop to print all numbers from `1 to N` and `substract 5 `from each number.where N is a `positive integer` entered by the user.

In [3]:
N = int(input("Enter the number:: "))

for i in range(1,N):
    print(i-5,end = ' ')

Enter the number:: 10
-4 -3 -2 -1 0 1 2 3 4

2. **Calculate the Sum of Numbers from 1 to N:**
   Write a Python program that calculates and prints the `sum` of all numbers from `1 to N`, where N is a `positive integer` entered by the user, using a for loop.

In [5]:
n = int(input("enter a number:: "))
sum = 0

for i in range(1,n):
    sum = sum + i
print(sum)

enter a number:: 11
55

3. **Print Even Numbers:**
   Write a Python program that prints all `even numbers` from `50 to 100` using a `for` loop.

In [6]:
for i in range(50,101,2):
    print(i,end = ' ')

50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [8]:
for i in range(50,101):
    if i % 2 == 0:
        print(i,end = ' ')

50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

4. **Reverse a String:**
   Write a Python program that takes a string as input and uses a `for loop` to print the characters of the string in `reverse order`

In [13]:
name  = input('enter a name:: ')

for i in name[-1:-4:-1]:
    print(i,end= ' ')

enter a name:: sai
i a s

5. **Count Vowels in a String:**
    `name = "innomatics research labs"`
   Write a Python program uses a for loop to count the number of vowels (a, e, i, o, u) in the string. Ignore case sensitivity.

In [18]:
name = "innomatics research labs"

for i in name:
    i = name.count('a') 
    i1 = name.count('e')
    i2 = name.count('i')
    i3 = name.count('o')
    i4 = name.count('u')
print(i)
print(i1)
print(i2)
print(i3)
print(i4)

3
2
2
1
0

6. **Generate a Multiplication Table:**
   Write a Python program that generates and prints the multiplication table for  6.

In [38]:
num = 6
for i in range(num+1):
    for j in range(1,11):
        print(f'{i} * {j} = {(i * j)}')
    print('*' * 50)

0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0
0 * 10 = 0
**************************************************
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
**************************************************
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
**************************************************
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
**************************************************
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
**************************************************
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
**************************************************
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
**************************************************