

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

In [1]:
fruits = ('apple','banana','orange','grapes','kiwi','mango')

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

In [2]:
frds = ('sai','gani','sanji','ram','adhi')

In [3]:
combine = fruits + frds

In [4]:
combine

('apple',
 'banana',
 'orange',
 'grapes',
 'kiwi',
 'mango',
 'sai',
 'gani',
 'sanji',
 'ram',
 'adhi')

In [5]:
len(combine)

11

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

In [6]:
set1 = {2,4,6,8,10,12,14,16,18,20}

In [7]:
type(set1)

set


**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

In [8]:
sai = {1,2,3,4,5,6,7,8,9}

In [18]:
sai1 = {2,4,6,5,9,7,3,1,2,10,13,17}

In [19]:
sai.union(sai1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 17}

In [20]:
sai.intersection(sai1)

{1, 2, 3, 4, 5, 6, 7, 9}

In [22]:
sai.difference(sai1)

{8}

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

In [23]:
a = (1,2,3,4,5,6)

In [24]:
b = set(a)

In [25]:
b

{1, 2, 3, 4, 5, 6}

In [29]:
maximum = max(b)
print(maximum)

6

In [30]:
minimum = min(b)
print(minimum)

1

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

* The key characteristic of tuples is their immutability. Once you create a tuple, you cannot change its contents.
* This means you cannot add, remove, or modify elements within a tuple after itâ€™s created.
* Attempting to do so will result in an error.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

In [31]:
set1 = {1,2,3,4,5,6}

In [32]:
set1.add(12)

In [33]:
set1

{1, 2, 3, 4, 5, 6, 12}

In [34]:
set1.remove(3)

In [35]:
set1

{1, 2, 4, 5, 6, 12}

In [36]:
12 in set1

True

In [37]:
len(set1)

6

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

In [38]:
a = (1,4,7,5,6,3,2,8,9)

In [39]:
a[3:8:1]

(5, 6, 3, 2, 8)


**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [41]:
list1 = [1,1,2,4,5,3,2,7,8,6,9,1,3,7,4]

In [42]:
len(list1)

15

In [43]:
a = set(list1)

In [44]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
len(a)

9

In [46]:
diff = len(list1) - len(a)

In [47]:
diff

6


**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [48]:
frd_movies = ('salaar','kushi','12th-fail','24','robo','bahubali')

In [49]:
my_movies = {"salaar",'sahoo','spirit','bahubali','bahubali2','kalki'}

In [50]:
my_movies.intersection(frd_movies)

{'bahubali', 'salaar'}